body {
  background-color: transparent;
  color: #fff;
  font-family: $font-default;
  font-weight: 400;
  font-style: normal;
}
button {
  display: inline-flex;
  line-height: 150%;
  align-items: center;
  justify-content: center;
  padding: re(12) re(28);
  border-radius: 20px;
  font-family: $font-default;
  font-size: re(16);
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s,
    transform 0.2s;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
  @media screen and (max-width: $bp-mobile) {
    font-size: re(12);
  }
}

.button-full {
  background-color: $primary-accent;
  border: 2px solid $primary-accent;
  color: #fff;

  &:hover {
    background-color: darken($primary-accent, 8%);
    border-color: darken($primary-accent, 8%);
  }
}

.button-empty {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
