.letter-design {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -115%);
  width: re(280);
  height: re(180);
  margin: 0 auto;

  &__locker {
    z-index: 10;
    font-size: re(24);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  }

  &__back {
    position: absolute;
    width: re(280);
    height: re(180);
    background-color: #b41b38;
    border-radius: re(0);
    z-index: 1;
  }
  &__top {
    position: absolute;
    top: 1px;
    left: 0;
    width: 0;
    height: 0;
    border-left: re(140) solid transparent;
    border-right: re(140) solid transparent;
    border-top: re(102) solid #b41b38;
    transform-origin: center top;
    filter: drop-shadow(0 re(2) re(4) rgba(0, 0, 0, 0.15));
    z-index: 5;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: re(140) solid transparent;
    border-right: re(140) solid transparent;
    border-bottom: re(93) solid #cd1f3f;
    z-index: 4;
  }

  &__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: re(90) solid transparent;
    border-bottom: re(90) solid transparent;
    border-left: re(143) solid #dc2042;
    z-index: 3;
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: re(90) solid transparent;
    border-bottom: re(90) solid transparent;
    border-right: re(143) solid #dc2042;
    z-index: 3;
  }

  &__inside {
    background-color: white;
    position: absolute;
    width: re(255);
    height: re(170);
    border-radius: 8px;
    top: 5px;
    left: 10px;
    z-index: 2;
    &::before {
      content: "〰️〰️";
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: 3;
    }
    &::after {
      content: "〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️";
      position: absolute;
      max-width: 80%;
      top: 30%;
      left: 10%;
      z-index: 3;
    }
    &.size-text {
      animation: moveUpAndScale 3s 1.6s ease-in-out forwards;
    }
  }
}
